### By: Siavash Mortezavi, Daniel Grzenda

## Imports

In [35]:
import plotly
# Create an account with plotly and make a useranme and get api key
plotly.tools.set_credentials_file(username='jigull', api_key='0ENaPTtHlDwDDYZxFwHo')

In [36]:
import pandas as pd
import numpy as np
import datetime as datetime
import plotly.plotly as py
import plotly.figure_factory as ff
import plotly.graph_objs as go
from plotly.graph_objs import *
%matplotlib inline

## We have all data required and it's stored at the following drop box Link

https://www.dropbox.com/sh/hl5b7y4kzui3w6a/AACMwNfEkIAxi0Gfpxcy2Q5wa?dl=0

## Sample Data and graphs

In [12]:
# Dow prices and Eur-Usd prices

Dow_prices = pd.read_csv('/Users/siavashmortezavi/Dropbox/Historical Prices/Dow_HistoricalPrices.csv')
Eur_Usd_prices = pd.read_excel('/Users/siavashmortezavi/Dropbox/Historical Prices/Eur:Usd.xlsx')

In [27]:
Dow_prices

         Date      Open      High       Low     Close
0    03/27/18  24276.62  24446.22  23708.73  23857.71
1    03/26/18  23825.74  24232.30  23741.22  24202.60
2    03/23/18  23995.18  24108.47  23509.06  23533.20
3    03/22/18  24526.01  24526.01  23938.74  23957.89
4    03/21/18  24723.49  24977.65  24655.40  24682.31
5    03/20/18  24650.64  24803.61  24650.64  24727.27
6    03/19/18  24893.69  24893.69  24453.14  24610.91
7    03/16/18  24877.34  25031.00  24857.09  24946.51
8    03/15/18  24837.29  25053.87  24753.29  24873.66
9    03/14/18  25086.97  25130.12  24668.83  24758.12
10   03/13/18  25257.75  25376.40  24947.50  25007.03
11   03/12/18  25372.44  25449.15  25152.02  25178.61
12   03/09/18  25004.89  25336.33  25004.89  25335.74
13   03/08/18  24853.41  24950.49  24703.05  24895.21
14   03/07/18  24758.15  24849.68  24535.12  24801.36
15   03/06/18  24965.89  24995.24  24708.41  24884.12
16   03/05/18  24471.31  24961.00  24387.15  24874.76
17   03/02/18  24394.91  24592.46  24217.76  24538.06
18   03/01/18  25024.04  25185.35  24442.56  24608.98
19   02/28/18  25485.15  25576.15  25022.42  25029.20
20   02/27/18  25735.78  25800.35  25407.83  25410.03
21   02/26/18  25403.35  25732.80  25398.56  25709.27
22   02/23/18  25050.51  25313.91  25028.73  25309.99
23   02/22/18  24855.41  25156.72  24854.83  24962.48
24   02/21/18  24988.06  25267.99  24792.99  24797.78
25   02/20/18  25124.91  25179.01  24884.19  24964.75
26   02/16/18  25165.94  25432.42  25149.26  25219.38
27   02/15/18  25047.82  25203.95  24809.42  25200.37
28   02/14/18  24535.82  24925.95  24490.36  24893.49
29   02/13/18  24540.33  24705.72  24421.03  24640.45
..        ...       ...       ...       ...       ...
154  08/15/17  22029.91  22038.92  21971.48  21998.99
155  08/14/17  21945.64  22019.23  21945.64  21993.71
156  08/11/17  21883.32  21911.09  21842.74  21858.32
157  08/10/17  21988.20  21988.20  21843.94  21844.01
158  08/09/17  22022.34  22057.19  21996.69  22048.70
159  08/08/17  22095.14  22179.11  22057.29  22085.34
160  08/07/17  22100.20  22121.15  22081.97  22118.42
161  08/04/17  22058.39  22092.81  22024.64  22092.81
162  08/03/17  22007.58  22044.85  21991.32  22026.10
163  08/02/17  22004.36  22036.10  21967.46  22016.24
164  08/01/17  21961.42  21990.96  21940.81  21963.92
165  07/31/17  21863.39  21929.80  21861.71  21891.12
166  07/28/17  21787.51  21841.18  21756.12  21830.31
167  07/27/17  21717.42  21798.47  21687.85  21796.55
168  07/26/17  21690.38  21742.70  21683.29  21711.01
169  07/25/17  21638.56  21670.62  21577.37  21613.43
170  07/24/17  21577.78  21577.78  21496.13  21513.17
171  07/21/17  21591.72  21592.61  21503.78  21580.07
172  07/20/17  21641.54  21661.91  21576.96  21611.78
173  07/19/17  21569.25  21640.75  21565.84  21640.75
174  07/18/17  21589.94  21589.94  21471.14  21574.73
175  07/17/17  21633.97  21661.81  21617.66  21629.72
176  07/14/17  21532.77  21681.53  21521.72  21637.74
177  07/13/17  21537.19  21568.72  21512.36  21553.09
178  07/12/17  21467.93  21580.79  21467.93  21532.14
179  07/11/17  21410.17  21441.62  21279.30  21409.07
180  07/10/17  21381.23  21446.39  21371.11  21408.52
181  07/07/17  21354.66  21425.82  21350.72  21414.34
182  07/06/17  21423.93  21433.10  21305.38  21320.04
183  07/05/17  21492.83  21505.36  21404.76  21478.17

[184 rows x 5 columns]

In [10]:
Eur_Usd_prices.head()

        Date   Price    Open    High     Low  Change %
0 2018-03-27  1.2403  1.2444  1.2478  1.2373   -0.0032
1 2018-03-26  1.2443  1.2348  1.2462  1.2340    0.0072
2 2018-03-25  1.2354  1.2351  1.2368  1.2351    0.0001
3 2018-03-23  1.2353  1.2302  1.2375  1.2301    0.0041
4 2018-03-22  1.2302  1.2338  1.2389  1.2285   -0.0029

In [32]:
Dow_prices.columns

Index(['Date', ' Open', ' High', ' Low', ' Close'], dtype='object')

In [37]:
## Time Series Plot with datetime Objects

df = Dow_prices
data = [go.Scatter(x=df.Date, y = df[' Close'])]
py.iplot(data, filename = 'Arson')

In [39]:
## Time Series Plot with datetime Objects

df = Eur_Usd_prices
data = [go.Scatter(x=df.Date, y = df['Price'])]
py.iplot(data, filename = 'Arson')